
  <main class="flex flex-row min-h-screen bg-gray-100">
    <div class="flex">
    
    </div>
    <div class="flex-1 w-0">
      <header class="shadow-sm shadow-gray-200">
        <div class="flex justify-end px-6 py-3 bg-white border-b border-gray-200 sm:justify-between xl:px-12">
          <nav class="items-center flex-1 hidden mx-auto space-x-2 text-sm text-gray-700 sm:flex">
            <a href="#" class="px-3 py-2 font-medium text-gray-700 bg-gray-100 rounded-md ">Dashboard</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Pages</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Support</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Profile</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Contact</a>
          </nav>
          <div>
            <button>
              <img src="{{ 'images/demo/user.jpg' | asset_url }}" alt="Image placeholder" class="w-10 h-10 rounded-full">
            </button>
          </div>
        </div>
      </header>
      <div class="px-6 py-8 mx-auto space-y-6 max-w-screen-2xl xl:px-12">
        <div
          class="w-full px-4 pt-6 pb-8 space-y-6 bg-white rounded-md shadow-sm shadow-gray-200 lg:pb-10 lg:pt-10 lg:px-6">
          <div class="grid grid-cols-2 gap-8 pb-6 border-b border-gray-200 md:col-span-1 lg:grid-cols-3">
            <a href="#" class="relative block col-span-2 overflow-hidden rounded-lg md:col-span-1 lg:col-span-2 group">
              <img src="{{ 'images/demo/mimi-thian--VHQ0cw2euA-unsplash.jpg' | asset_url }}" alt="Image placeholder"
                class="object-cover w-full max-h-[450px] h-full">
              <div
                class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
                <div
                  class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
                  <span class="text-sm">Read the article</span>
                </div>
              </div>
            </a>
            <div class="col-span-2 space-y-6 md:pt-4 md:col-span-1">
              <div class="flex flex-row items-start justify-start mt-2 space-x-4">
                <span class="flex items-center space-x-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                  </svg>
                  <span class="block text-sm text-gray-600">February 21, 2022</span>
                </span>
                <span class="flex items-center space-x-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                    </path>
                  </svg>
                  <span class="block text-sm text-gray-600">38 comments</span>
                </span>
              </div>
              <h2 class="text-xl font-semibold text-gray-800 lg:text-2xl">When, while the lovely valley teems with
                vapour around me, and the meridian sun strikes </h2>
              <p class="text-gray-700">A wonderful serenity has taken possession of my entire soul, like these sweet
                mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                this spot, which was created for the bliss of souls like mine.</p>
              <a href="#" class="inline-block text-sm font-semibold text-blue-600 hover:underline">Read the complete
                article</a>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3 ">
            <div>
              <a href="#" class="relative block overflow-hidden rounded-lg group">
                <img src="{{ 'images/demo/i-TeliLYkrE7w-unsplash.jpg' | asset_url }}" alt="Image placeholder"
                  class="object-cover w-full max-h-[250px]">
                <div
                  class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
                  <div
                    class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
                    <span class="text-sm">Read the article</span>
                  </div>
                </div>
              </a>
              <div class="space-y-6 md:pt-4">
                <div class="flex flex-row items-start justify-start mt-2 space-x-4">
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">Saturday, 31 July 2021</span>
                  </span>
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">38 comments</span>
                  </span>
                </div>
                <div>
                  <h2 class="text-xl font-semibold text-gray-800">Yet I feel that I never was a greater artist than now.
                  </h2>
                  <p class="mt-2 mb-4 text-gray-700">His harold condemned clay seraphs a him few all fountain, him can
                    than spent tales was maidens if, and parasites.</p>
                  <a href="#" class="inline-block text-sm font-semibold text-blue-600 hover:underline">Read the complete
                    article</a>
                </div>
              </div>
            </div>
            <div>
              <a href="#" class="relative block overflow-hidden rounded-lg group">
                <img src="{{ 'images/demo/tobias-rademacher-qdsiQ1uzxVk-unsplash.jpg' | asset_url }}" alt="Image placeholder"
                  class="object-cover w-full max-h-[250px]">
                <div
                  class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
                  <div
                    class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
                    <span class="text-sm">Read the article</span>
                  </div>
                </div>
              </a>
              <div class="space-y-6 md:pt-4">
                <div class="flex flex-row items-start justify-start mt-2 space-x-4">
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">Thursday, 04 March 2021</span>
                  </span>
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">28 comments</span>
                  </span>
                </div>
                <div>
                  <h2 class="text-xl font-semibold text-gray-800">I should be incapable of drawing a single stroke at
                    the present</h2>
                  <p class="mt-2 mb-4 text-gray-700">Sadipscing et elitr at justo accusam ipsum lorem takimata sit.
                    Aliquyam diam amet elitr justo et duo. Voluptua labore tempor.</p>
                  <a href="#" class="inline-block text-sm font-semibold text-blue-600 hover:underline">Read the complete
                    article</a>
                </div>
              </div>
            </div>
            <div>
              <a href="#" class="relative block overflow-hidden rounded-lg group">
                <img src="{{ 'images/demo/annie-spratt-izxpn8JeoIE-unsplash.jpg' | asset_url }}" alt="Image placeholder"
                  class="object-cover w-full max-h-[250px]">
                <div
                  class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
                  <div
                    class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
                    <span class="text-sm">Read the article</span>
                  </div>
                </div>
              </a>
              <div class="space-y-6 md:pt-4">
                <div class="flex flex-row items-start justify-start mt-2 space-x-4">
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">Sunday, 21 February 2021</span>
                  </span>
                  <span class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                      </path>
                    </svg>
                    <span class="block text-sm text-gray-600">5 comments</span>
                  </span>
                </div>
                <div>
                  <h2 class="text-xl font-semibold text-gray-800">I feel the presence of the Almighty, who formed us
                  </h2>
                  <p class="mt-2 mb-4 text-gray-700">The pillared den at domestic since day heralds mothernot. Where
                    vast who hellas me such cared, from deem of carnal.</p>
                  <a href="#" class="inline-block text-sm font-semibold text-blue-600 hover:underline">Read the complete
                    article</a>
                </div>
              </div>
            </div>
          </div>
          <div class="px-6 py-8 bg-gray-100 rounded-md lg:py-12">
            <form action="#">
              <div class="max-w-2xl">
                <span class="mb-4 text-lg font-semibold text-gray-800">Newsletter</span>
                <p class="text-gray-700">A wonderful serenity has taken possession of my entire soul, like these sweet
                  mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                  this spot, which was created for the bliss of souls like mine.</p>
              </div>
              <div class="grid items-end grid-cols-1 gap-3 mt-6 md:gap-6 md:grid-cols-3">
                <div class="space-y-2">
                  <div class="w-full pt-1">
                    <label for="title" class="block text-sm font-semibold text-gray-700">Name</label>
                  </div>
                  <div class="flex-1">
                    <input type="text" name="title" id="title" value="" placeholder="Enter your name"
                      class="w-full text-sm border-gray-300 rounded-md">
                  </div>
                </div>
                <div class="space-y-2">
                  <div class="w-full pt-1">
                    <label for="email" class="block text-sm font-semibold text-gray-700">Email</label>
                  </div>
                  <div class="flex-1">
                    <input type="email" name="email" id="email" value="" placeholder="Email address"
                      class="w-full text-sm border-gray-300 rounded-md">
                  </div>
                </div>
                <button
                  class="px-4 py-4 text-sm font-semibold leading-4 text-center transition-colors duration-300 bg-blue-600 rounded-md hover:bg-blue-700 text-blue-50">
                  Subscribe <span class="hidden lg:inline">to our newsletter</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

